* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Courier New", Courier, monospace;
}

#canvas1 {
  background: url("../img/ctverec.png") repeat;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

}

#title {
  text-align: center;
  font-size: xxx-large;
  line-height: 2em;
  font-weight: 600;
  letter-spacing: 6px;
  color: white;
  transform: scale(1.5);
}

#contain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url("../img/ctverec.png") repeat;
}

#nameInp {
  margin: 1em;
  padding: 0.5em;
  font-weight: 800;
  border: dotted red 2px;
}

#play {
  padding: 0.7em 1.2em;
  border-radius: 25px;
  font-size: x-large;
  margin-top: 1.5em;
  cursor: pointer;
  font-weight: 800;

  border: dotted red 2px;
}

