* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Courier New", Courier, monospace;
}

#canvas1 {
  background: url("../img/simpleBCross.png") repeat;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border: solid red 3px;
}

body{
/*
  background: url("../img/rick.png") repeat;
*/

background: url("../img/smile.png") repeat;
}

/* Title screen */

#title {
  text-align: center;
  font-size: xxx-large;
  line-height: 2em;
  font-weight: 600;
  letter-spacing: 6px;
  color: white;
  transform: scale(1.5);
}

#contain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/simpleBCross.png") repeat;
}

#nameInp {
  margin: 1em;
  padding: 0.5em;
  font-weight: 800;
  border: dotted red 2px;
}

#play {
  padding: 0.7em 1.2em;
  border-radius: 25px;
  font-size: x-large;
  margin-top: 1.5em;
  cursor: pointer;
  font-weight: 800;
  border: dotted red 2px;
}

/* Title screen */

/*Death message*/

#ctn {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
#popup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000000000;
  border: solid black 3px;
  width: 40%;
  height: 40%;
  background-color: white;

  font-size: 2rem;
}

#ok {
  padding: 0.75em;
  border-radius: 20px;
  margin: 0.5em;
  font-size: 0.5em;
}
#popup > p {
  margin: 0.25em;
}

/*Death message*/

#connt {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#jmeno {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: white;
  font-size: large;
  font-weight: bolder;
  text-align: center;
}

#jmeno > p {
  text-align: center;
}
#scorePlace{
  position: absolute;
  top: 0px;
  right: 0px;
  border: dashed black 1px;
  border-radius: 25px 0 25px 25px;
  background-color: transparent;
  padding: .7em;
  font-size: x-large;
  font-weight: 900;
  transform: scale(1.2);
  letter-spacing: 2px;
  }